:root {
  --orange: hsl(26, 100%, 55%);
  --paleOrange: hsl(25, 100%, 94%);
  --modalClr: rgba(0, 0, 0, .75);
  --white: hsl(0, 0%, 100%);
  --lightGrayishBlue: hsl(223, 64%, 98%);
  --grayishBlue: hsl(220, 14%, 75%);
  --veryDarkBlue: hsl(220, 13%, 13%);
  --gray: #ddd;
}
